h1 {
    font-family:  fantasy;
    color: rgb(164, 81, 130);
    font-size: 150px;
}

h3 {
    font-family: serif;
    color: rgb(255, 255, 255);font-size: 35px;
}

h2 {
    color: rgb(253, 253, 253);
    font-size: 80px;
}